<form class="list padding" name="form" ng-submit="login(form)">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text" ng-model="form.username" name="password" ng-required>
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password" ng-model="form.password" name="password" ng-required>
  </label>
  <input class="button button-block button-positive activated" value="Create Account" type="submit" />
</form>