<div class="list">
  <div class="item item-icon-left item-icon-right">
    <i class="icon ion-videocamera"></i>
    Webcam
    <input type="checkbox" ng-model="webcam" ng-show="false" />
    <i class="icon ion-checkmark-round balanced"  ng-if='webcam'></i>
    <i class="icon ion-close-round assertive"  ng-if='!webcam'></i>
  </div>
  <div class="item item-icon-left item-icon-right">
    <i class="icon ion-mic-b"></i>
    Micro
    <input type="checkbox" ng-model="micro" ng-show="false" />
    <i class="icon ion-checkmark-round balanced" ng-if="micro"></i>
    <i class="icon ion-close-round assertive" ng-if="!micro"></i>
  </div>
</div>