<div class="bar bar-header bar-stable">
  <button class="button icon ion-navicon" ng-click="$emit('toggleMenu')"></button>
  <h1 class="title">Raspberry Pi</h1>
  <i id="micro-icon" class="button button-icon icon ion-android-microphone-off"></i>
</div>
<div class="side-bar-menu">
  <div class="list">
    <a class="item" ui-sref="home" ng-click="$emit('toggleMenu')">
      home
    </a>
    <a class="item" ui-sref="home.config" ng-click="$emit('toggleMenu')">
      Config
    </a>
  </div>
</div>